<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <remove name="newsServiceBinding" />
        <binding name="newsServiceBinding" sendTimeout="00:05:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <remove name="socialMediaServiceBinding" />
        <binding name="socialMediaServiceBinding" sendTimeout="00:05:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <remove name="storesServiceBinding" />
        <binding name="storesServiceBinding" sendTimeout="00:05:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <remove name="usersServiceBinding" />
        <binding name="usersServiceBinding" sendTimeout="00:05:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <remove name="platHistControllerPipeBinding" />
        <binding name="platHistControllerPipeBinding" sendTimeout="00:05:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IApiKeyService" sendTimeout="00:05:00" />
        <binding name="BasicHttpBinding_IUserService" sendTimeout="00:05:00" />
        <binding name="BasicHttpBinding_IGroupService" sendTimeout="00:05:00" />
        <binding name="BasicHttpBinding_IApiKeyService1" />
        <binding name="BasicHttpBinding_IUserService1" />
        <binding name="BasicHttpBinding_IGroupService1" />
      </basicHttpBinding>
      <netTcpBinding>
        <remove name="pifMultiplexerBinding" />
        <binding name="pifMultiplexerBinding" sendTimeout="00:05:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63263/ApiService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IApiKeyService" contract="IApiKeyService"
        name="BasicHttpBinding_IApiKeyService" />
      <endpoint address="http://localhost:63263/ApiService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:63263/ApiService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGroupService" contract="IGroupService"
        name="BasicHttpBinding_IGroupService" />
      <endpoint address="http://localhost:63263/ApiService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IApiKeyService1" contract="ServiceReference1.IApiKeyService"
        name="BasicHttpBinding_IApiKeyService1" />
      <endpoint address="http://localhost:63263/ApiService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService1" contract="ServiceReference1.IUserService"
        name="BasicHttpBinding_IUserService1" />
      <endpoint address="http://localhost:63263/ApiService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGroupService1" contract="ServiceReference1.IGroupService"
        name="BasicHttpBinding_IGroupService1" />
    </client>
  </system.serviceModel>
</configuration>