<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IApiKeyService" />
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IGroupService" />
                <binding name="BasicHttpsBinding_IApiKeyService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IUserService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpsBinding_IGroupService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://alpha.mercati.news/ApiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApiKeyService"
                contract="MaddalenaServiceReference.IApiKeyService" name="BasicHttpBinding_IApiKeyService" />
            <endpoint address="http://alpha.mercati.news/ApiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="MaddalenaServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://alpha.mercati.news/ApiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGroupService"
                contract="MaddalenaServiceReference.IGroupService" name="BasicHttpBinding_IGroupService" />
            <endpoint address="https://alpha.mercati.news/ApiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IApiKeyService"
                contract="MaddalenaServiceReference.IApiKeyService" name="BasicHttpsBinding_IApiKeyService" />
            <endpoint address="https://alpha.mercati.news/ApiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUserService"
                contract="MaddalenaServiceReference.IUserService" name="BasicHttpsBinding_IUserService" />
            <endpoint address="https://alpha.mercati.news/ApiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IGroupService"
                contract="MaddalenaServiceReference.IGroupService" name="BasicHttpsBinding_IGroupService" />
        </client>
    </system.serviceModel>
</configuration>